/* header */
.home-page-logo-section img {
  width: 28px;
  height: 23px;
  cursor: pointer;
}

.home-page-logo-section a {
  text-decoration: none;
}

.home-page-logo-section h1 {
  color: #202020;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline;

}

.header-contents img {
  vertical-align: middle;
  padding: 0 25px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
