RewriteEngine on

# If your Apache document root is /path/to/fda-app, then the RewriteBase is /
RewriteBase /fda-app/

RewriteRule ^$ public/ [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]
